

.bannerHome{
    background-color: #7275a6;
    display: flex;
    padding: 80px 100px 80px 100px;
}

.titleBanner{
    color: #1B2C38;
    font-size: 48px;
    font-weight: 600;
}

.textBanner{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.bannerLeft{
    width: 50%;
    padding-right: 20px;
}

.bannerRight{
    width: 50%;
    padding: 0 40px 0 0;
}

.buttonInstitucional{
    background-color: #3ab9c0;
    border: solid 2px #3ab9c0;
    border-radius: 40px;
    padding: 20px 50px 20px 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.buttonCommerce{
    margin: 40px 0px 0px 30px;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px #fff;
    border-radius: 40px;
    padding: 20px 50px 20px 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.buttonCommerce:hover{
    margin: 40px 0px 0px 30px;
    background-color: rgba(255, 255, 255, 1);    
    color: #1B2C38;
}

.servicos{    
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 0 100px;
}

.coluna{
    display: flex;
    width: 33%;
    padding: 20px;
    gap: 10px;
}

.coluna h2{
    color: #1B2C38;
    font-size: 22px;
    font-weight: 600;
    line-height: 2;
}

.coluna p{
    color: #495057;
    font-size: 16px;
    line-height: 1.5;
}

.containerSeo{
    background-image: url('../../../public/pattern-bg-black.jpeg');
    padding: 40px;
}

.containerSeo h2{
    text-align: center;
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    line-height: 2;
}

.containerSeo p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
  margin: 40px 0 40px 0;
}

.box input{
    width: 500px;
    height: 80px;
    padding: 40px;
    border: none;
    border-radius: 40px;
    margin: 5px;
    background-color: #333d44;
    font-size: 18px;
    color: #fff;
}

.box input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.button{
    background-color: #3ab9c0;
    border: none;
    border-radius: 40px;
    padding: 20px 40px 20px 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}